<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated graphicOpt -->
      <package
            uri="http://jku.bise.at/graphic"
            class="graphic.GraphicPackage"
            genModel="model/graphicOpt.genmodel"/>
   </extension>

</plugin>
